<div>
    <h2 style="color:#9b0000;">Patents and Publications</h2>
    {% for y in page.years %}
    <h3 class="year">{{y}}</h3>
    {% bibliography -f papers -q @*[year={{y}}]* %}
    {% endfor %}

    <h2 style="color:#9b0000">Service</h2>
    <ul>
        <li><b>Program Committee:</b> 
            <ul>
                <li>HPE TechCon 2020</li>
                <li><a href="https://www.hipc.org/" target="_blank"><u>IEEE HiPC 2024</u></a></li> 
                <li><a href="https://2025.eurosys.org/" target="_blank"><u>EuroSys 2025 (shadow)</u></a></li>
                <li><a href="https://sites.google.com/view/essa-2025/organization" target="_blank"><u>IPDPS ESSA 2025</u></a></li>
            </ul></li>
          <li><b>Artifact Evaluation Committee:</b><ul> 
            <li> <a href="https://sysartifacts.github.io/organizers.html" target="_blank"><u>27th ACM Symposium on Operating Systems Principles (SOSP) 2019</u></a></li>
            <li><a href="https://asplos-conference.org/calls/#artifacts" target="_blank"><u>25th ACM Architectural Support for Programming Languages and Operating Systems (ASPLOS) 2020</u></a></li>
        </ul> </li>
        <li>Invited Speaker: <a href="https://www.virtueinsight.com/technology/Blockchain-2019/" target="_blank"> Virtue insight Blockchain 2019 conference -- How GDPR is a double edged sword for Blockchain</a>, HPE TechCon 2019 -- Preemptive compatibility failure detection using graph structure learning in datacenters, HPE Software Defined Cloud Group Technical Symposium -- Generic DMTF Redfish device management in datacenters</li>
        <li>Open source contributions: Apache Ratis, Postgresql and YCSB</li>
        <li>Technical reviewer of the book <a href="http://www.informit.com/store/effective-cybersecurity-a-guide-to-using-best-practices-9780134772806" target="_blank">"Effective Cybersecurity: A Guide to Using Best Practices and Standards"</a> by <a href="http://williamstallings.com/" target="_blank">Dr. William Stallings</a> released on June 2018 (Acknowledged in Preface).</li>
    </ul>
</div>